/*css reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    /*variables*/
    --margin:15px;
    --size-05:0.5em;
    --size-1:1em;
    --size-2:1.5em;
    --size-3:2em;
    --size-4:2.5em;
    --size-5:3em;
    --max: 100%;
    --half: 50%;
    --col-1: 8.333333%;
    --col-2: 16.666667%;
    --col-3: 24.666667%;
    --col-4: 33.333333%;
    --col-5: 41.666667%;
    --col-7: 58.333333%;
    --col-8: 66.666667%;
    --col-9: 74.666667%;
    --col-10: 83.333333%;
    --col-11: 91.666667%;
}

.sf-container {
    max-width: 1024px;
    padding: repeat(var(--margin), auto);
    margin: auto;
}

.sf-container-fluid {
    width:var(--max);
    padding: repeat(var(--margin), auto);
    margin: auto;
}

/*set flex on row and add wrap*/

.sf-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sf-center{
    margin: auto;
}

.sf-margin-left{
    margin-left: var(--margin);
}

.sf-margin-right{
    margin-right: var(--margin);    
}

.sf-margin-bottom{
    margin-bottom: var(--margin);
}

.sf-margin-top{
    margin-top: var(--margin);    
}

.sf-padding-left{
    padding-left: var(--margin);
}

.sf-padding-right{
    padding-right: var(--margin);    
}

.sf-padding-top{
    padding-top: var(--margin);
}

.sf-padding-bottom{
    padding-bottom: var(--margin);    
}

.sf-padding {
    padding: var(--margin);
}

/*remove wrap on row if desired*/

.nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

/*make something flex*/

.makeflex {
    display: flex;
}

/*basic columns, columns follow 12 grid system, similar to bootstrap*/

.sf-col {
    flex-basis:0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width:var(--max);
}

.sf-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--max);
    flex: 0 0 var(--max);
    max-width: var(--max);
}

.sf-col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--col-11);
    flex: 0 0 var(--col-11);
    max-width: var(--col-11);
}

.sf-col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--col-10);
    flex: 0 0 var(--col-10);
    max-width: var(--col-10);
}

.sf-col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--col-9);
    flex: 0 0 var(--col-9);
    max-width: var(--col-9);
}

.sf-col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--col-8);
    flex: 0 0 var(--col-8);
    max-width: var(--col-8);
}

.sf-col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--col-7);
    flex: 0 0 var(--col-7);
    max-width: var(--col-7);
}

.sf-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--half);
    flex: 0 0 var(--half);
    max-width: var(--half);
}

.sf-col-5{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--col-5);
    flex: 0 0 var(--col-5);
    max-width: var(--col-5);
}

.sf-col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--col-4);
    flex: 0 0 var(--col-4);
    max-width: var(--col-4);
}

.sf-col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--col-3);
    flex: 0 0 var(--col-3);
    max-width: var(--col-3);
}

.sf-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--col-2);
    flex: 0 0 var(--col-2);
    max-width: var(--col-2);
}

.sf-col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--col-1);
    flex: 0 0 var(--col-1);
    max-width: var(--col-1);
}

/* align and justify, these go on the columns NOT the rows */

.sf-align-start {
    display:flex;
    align-items: start;   
}

.sf-align-center {
    display:flex;
    align-items: center;
}

.sf-align-end {
    display:flex;
    align-items: end;
}

.sf-justify-start {
    display:flex;
    justify-content: start;
}

.sf-justify-center {
    display:flex;
    justify-content: center;
}

.sf-justify-end {
    display:flex;
    justify-content: end;
}

.sf-border {
    border: solid 1px orange;
}

.sf-relative {
    position: relative;
}

.sf-absolute {
    position: absolute;
}

.sf-demo-color {
    background: orange;
    width: 300px;
    height: 236px;
    opacity: 33%;
}

.toback {
    z-index: -1000;
}

.half-opacity {
    opacity:var(--half);
}

/*text align*/

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

@media (max-width:375px) {

    .sf-container {
        max-width: 340px;
    }

    .wrap-xsm {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .makeflex--xsm {
        display: flex;
    }

    /* align and justify, these go on the columns NOT the rows */

.sf-align-start--xsm {
    display:flex;
    align-items: start;   
}

.sf-align-center--xsm {
    display:flex;
    align-items: center;
}

.sf-align-end--xsm {
    display:flex;
    align-items: end;
}

.sf-justify-start--xsm {
    display:flex;
    justify-content: start;
}

.sf-justify-center--xsm {
    display:flex;
    justify-content: center;
}

.sf-justify-end--xsm {
    display:flex;
    justify-content: end;
}

    /*media queried columns*/

    .sf-col-12--xsm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--max);
        flex: 0 0 var(--max);
        max-width: var(--max);
    }

    .sf-col-11--xsm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-11);
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
    }
    
    .sf-col-10--xsm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-10);
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
    }
    
    .sf-col-9--xsm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-9);
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
    }
    
    .sf-col-8--xsm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-8);
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
    }
    
    .sf-col-7--xsm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-7);
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
    }
    
    .sf-col-6--xsm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--half);
        flex: 0 0 var(--half);
        max-width: var(--half);
    }
    
    .sf-col-5--xsm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-5);
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
    }
    
    .sf-col-4--xsm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-4);
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
    }
    
    .sf-col-3--xsm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-3);
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
    }
    
    .sf-col-2--xsm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-2);
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
    }
    
    .sf-col-1--xsm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-1);
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
    }
    
}


@media (max-width:576px) {

    .sf-container {
        max-width: 540px;
    }

    .makeflex--sm {
        display: flex;
    }


    .wrap-sm {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    /* align and justify, these go on the columns NOT the rows */

.sf-align-start--sm {
    display:flex;
    align-items: start;   
}

.sf-align-center--sm {
    display:flex;
    align-items: center;
}

.sf-align-end--sm {
    display:flex;
    align-items: end;
}

.sf-justify-start--sm {
    display:flex;
    justify-content: start;
}

.sf-justify-center--sm {
    display:flex;
    justify-content: center;
}

.sf-justify-end--sm {
    display:flex;
    justify-content: end;
}

    /*media queried columns*/

    .sf-col-12--sm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--max);
        flex: 0 0 var(--max);
        max-width: var(--max);
    }

    .sf-col-11--sm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-11);
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
    }
    
    .sf-col-10--sm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-10);
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
    }
    
    .sf-col-9--sm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-9);
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
    }
    
    .sf-col-8--sm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-8);
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
    }
    
    .sf-col-7--sm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-7);
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
    }
    
    .sf-col-6--sm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--half);
        flex: 0 0 var(--half);
        max-width: var(--half);
    }
    
    .sf-col-5--sm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-5);
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
    }
    
    .sf-col-4--sm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-4);
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
    }
    
    .sf-col-3--sm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-3);
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
    }
    
    .sf-col-2--sm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-2);
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
    }
    
    .sf-col-1--sm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-1);
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
    }
    
}

@media (max-width:768px) {

    .sf-container {
        max-width: 720px;
    } 

    .makeflex--md {
        display: flex;
    }

    .wrap-md {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    /* align and justify, these go on the columns NOT the rows */

.sf-align-start--md {
    display:flex;
    align-items: start;   
}

.sf-align-center--md {
    display:flex;
    align-items: center;
}

.sf-align-end--md {
    display:flex;
    align-items: end;
}

.sf-justify-start--md {
    display:flex;
    justify-content: start;
}

.sf-justify-center--md {
    display:flex;
    justify-content: center;
}

.sf-justify-end--md {
    display:flex;
    justify-content: end;
}

    /*media queried columns*/

    .sf-col-12--md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--max);
        flex: 0 0 var(--max);
        max-width: var(--max);
    }
    
    .sf-col-11--md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-11);
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
    }
    
    .sf-col-10--md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-10);
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
    }
    
    .sf-col-9--md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-9);
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
    }
    
    .sf-col-8--md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-8);
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
    }
    
    .sf-col-7--md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-7);
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
    }
    
    .sf-col-6--md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--half);
        flex: 0 0 var(--half);
        max-width: var(--half);
    }
    
    .sf-col-5--md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-5);
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
    }
    
    .sf-col-4--md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-4);
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
    }
    
    .sf-col-3--md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-3);
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
    }
    
    .sf-col-2--md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-2);
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
    }
    
    .sf-col-1--md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-1);
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
    }
}

@media (max-width:992px) {
    .sf-container {
        max-width: 960px;
    }
    
    .nowrap-lg {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .makeflex--lg {
        display: flex;
    }

    /* align and justify, these go on the columns NOT the rows */

.sf-align-start--lg {
    display:flex;
    align-items: start;   
}

.sf-align-center--lg {
    display:flex;
    align-items: center;
}

.sf-align-end--lg {
    display:flex;
    align-items: end;
}

.sf-justify-start--lg {
    display:flex;
    justify-content: start;
}

.sf-justify-center--lg {
    display:flex;
    justify-content: center;
}

.sf-justify-end--lg {
    display:flex;
    justify-content: end;
}

    /*media queried columns*/

    .sf-col-12--lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--max);
        flex: 0 0 var(--max);
        max-width: var(--max);
    }

    .sf-col-11--lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-11);
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
    }
    
    .sf-col-10--lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-10);
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
    }
    
    .sf-col-9--lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-9);
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
    }
    
    .sf-col-8--lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-8);
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
    }
    
    .sf-col-7--lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-7);
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
    }
    
    .sf-col-6--lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--half);
        flex: 0 0 var(--half);
        max-width: var(--half);
    }
    
    .sf-col-5--lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-5);
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
    }
    
    .sf-col-4--lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-4);
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
    }
    
    .sf-col-3--lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-3);
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
    }
    
    .sf-col-2--lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-2);
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
    }
    
    .sf-col-1--lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-1);
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
    }
}

@media (min-width:1024px) {
    .sf-container {
        max-width: 1024px;
    }

    .nowrap-xlg {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .makeflex--xlg {
        display: flex;
    }

    /* align and justify, these go on the columns NOT the rows */

.sf-align-start--xlg {
    display:flex;
    align-items: start;   
}

.sf-align-center--xlg {
    display:flex;
    align-items: center;
}

.sf-align-end--xlg {
    display:flex;
    align-items: end;
}

.sf-justify-start--xlg {
    display:flex;
    justify-content: start;
}

.sf-justify-center--xlg {
    display:flex;
    justify-content: center;
}

.sf-justify-end--xlg {
    display:flex;
    justify-content: end;
}

    /*media queried columns*/

    .sf-col-12--xlg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--max);
        flex: 0 0 var(--max);
        max-width: var(--max);
    }
    
    .sf-col-11--xlg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-11);
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
    }
    
    .sf-col-10--xlg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-10);
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
    }
    
    .sf-col-9--xlg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-9);
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
    }
    
    .sf-col-8--xlg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-8);
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
    }
    
    .sf-col-7--xlg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-7);
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
    }
    
    .sf-col-6--xlg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--half);
        flex: 0 0 var(--half);
        max-width: var(--half);
    }
    
    .sf-col-5--xlg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-5);
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
    }
    
    .sf-col-4--xlg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-4);
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
    }
    
    .sf-col-3--xlg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-3);
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
    }
    
    .sf-col-2--xlg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-2);
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
    }
    
    .sf-col-1--xlg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 var(--col-1);
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
    }
}
